# exclude everything
ressources/*
# exception to the rule
!ressources/.gitkeep

# exclude everything
output/*
# exception to the rule
!output/.gitkeep

# exclude everything
logs/*
# exception to the rule
!logs/.gitkeep

test

*.png
*.wav
*.csv
*.zip
trial_data.txt
*.log
saves

